<div class="card">
  <div class="card-header">
    <strong>Ajouter une Chambre</strong>
  </div>
  <div class="card-block">

    <div class="row">
      <div class="col-md-6">
        <form (submit)="addChambre()">
          <div class="input-group element">
            <span class="input-group-addon" id="basic-addon1">Titre</span>
            <input type="text" class="form-control" name="name" [(ngModel)]="chambre.title" placeholder="Titre"
                   aria-describedby="basic-addon1">
          </div>
          <div class="input-group element">
            <span class="input-group-addon" id="basic-addon2">Description</span>
            <textarea rows="9" class="form-control" name="uuid" [(ngModel)]="chambre.summary"
                      placeholder="Description"
                      aria-describedby="basic-addon1"></textarea>
          </div>
          <div class="input-group element">

            <span class="input-group-addon">Ajouter photo</span>
            <input type="file" id="photoEvent" (change)="readUrl($event)"/>

          </div>


          <button type="submit" class="btn btn-primary btn-add">Ajouter</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="row">
          <img *ngIf="fakeUrl" [src]="fakeUrl" class="fake-img">
        </div>
      </div>
    </div>
  </div>
</div>


